* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  color: $grey-0;
  margin: 0;
  padding: 0;
}

html {
  font-family: $san-serif, $source;
  font-size: 17px;

  @media (min-width: $break-small) {
    font-size: 18px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: normal;
    margin: 0;
}

h2 {
    font-size: 24px;
}

a {
  color: $grey-0;
    text-decoration: none;
}

blockquote {
  border-left: .25rem solid $grey-2;
  color: $grey-1;
  margin: .8rem 0 1rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 0 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}


table {
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;

  thead {
    background: $yellow500;
  }

  th {
    border: 1px solid;
    padding: 5px;
  }

  td {
    border: 1px solid;
    padding: 5px;
  }
}

@media (max-width: 480px) {
  table {
    font-size: 12px;
  }
}

.transition {
    transition: all 0.3s ease-in-out;
}

::selection {
    background: #FED014;
    color: #222836;
    text-shadow: none;
}
::-moz-selection {
    background: $red500;
    color: #FFF;
    text-shadow: none;
}
::-webkit-selection {
    background: $red500;
    color: #FFF;
    text-shadow: none;
}

// CALENDAR
:root {
  --fc-border-color: #FFFFFF !important;
  --fc-button-text-color: #151e27 !important;
  --fc-button-bg-color: #FFFFFF !important;
  --fc-button-border-color: #FFFFFF !important;
  --fc-button-hover-bg-color: #FFFFFF !important;
  --fc-button-hover-border-color: #FFFFFF !important;
  --fc-button-active-bg-color: #FFFFFF !important;
  --fc-button-active-border-color: #FFFFFF !important;
}
.fc {
  table {
    thead {
      background: $white;
    }
  }
  .fc-toolbar-title {
    font-size: 25px !important;
  }
  .fc-popover-title {
    font-size: 12px !important;
  }
  .fc-daygrid-more-link {
    font-size: 10px !important;
  }

  .fc-col-header-cell-cushion {
    padding: 4px !important;
    font-size: 12px;
  }

  .fc-daygrid-day-top {
    display: block !important;
    text-align: center;
    font-size: 12px;
  }

  .fc-day-sun a {
    color: $red500;
  }

  .fc-day-sat a {
    color: $blue400;
  }

  .fc-daygrid-event-harness a {
    color: $black;
  }

  .fc-daygrid-day-events {
    color: $black;
  }
}

// CALENDAR-TOOLTIP
.tooltipevent{
    width: 200px;
    position: absolute;
    z-index: 10001;
    transform: translate3d(-50%,-100%,0);
    font-size: 12px;
    line-height: 12px;
}
.tooltipevent div{
    padding: 4px;
    text-align: center;
}
.tooltipevent div:first-child{
    font-weight: 600;
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px #888888;
}
.tooltipevent div:last-child{
    background-color: white;
    color: black;
    position: relative;
}
.tooltipevent div:last-child::after, .tooltipevent div:last-child::before{
    width:0;
    height:0;
    border:solid 5px transparent;
    border-bottom:0;
    position: absolute;
    display: block;
    content: "";
    bottom:-4px;
    left:50%;
    transform:translateX(-50%);
}
.tooltipevent div:last-child::before{
    border-top-color:#888888;
    bottom:-5px;
}