pre.highlight,
.highlight {
	font-family: 'D2 coding', "Consolas", monospace;
  	background: hsl(220, 13%, 18%);
	color: hsl(0, 0%, 96%);
	border: none;
	padding: 0.3rem;
}
.highlight {
 pre { background: hsl(220, 13%, 18%); }
 .hll { background: hsl(220, 13%, 18%); }
 .c {  color: hsl(220, 10%, 40%); font-style: italic;  } /* Comment */
 .err { color: white; } /* Error background-color: hsl(0, 70%, 60%); */
 .k { color: hsl(286, 60%, 67%);  } /* Keyword */
 .l { color: hsl( 95, 38%, 62%); } /* Literal */
 .n { color: hsl(0, 0%, 96%); } /* Name */
 .o { color: hsl(0, 0%, 96%); } /* Operator */
 .p { color: hsl(0, 0%, 96%); } /* Punctuation */
 .cm { color: hsl(220, 10%, 40%); font-style: italic; } /* Comment.Multiline */
 .cp { color: hsl(220, 10%, 40%); font-style: italic; } /* Comment.Preproc */
 .c1 { color: hsl(220, 10%, 40%); font-style: italic; } /* Comment.Single */
 .cs { color: hsl(220, 10%, 40%); font-style: italic; } /* Comment.Special */
 .ge { font-style: italic } /* Generic.Emph */
 .gs { font-weight: bold } /* Generic.Strong */
 .kc { color: hsl(286, 60%, 67%);  } /* Keyword.Constant */
 .kd { color: hsl(286, 60%, 67%);  } /* Keyword.Declaration */
 .kn { color: hsl(286, 60%, 67%);  } /* Keyword.Namespace */
 .kp { color: hsl(286, 60%, 67%);  } /* Keyword.Pseudo */
 .kr { color: hsl(286, 60%, 67%);  } /* Keyword.Reserved */
 .kt { color: hsl(286, 60%, 67%);  } /* Keyword.Type */
 .ld { color: hsl( 95, 38%, 62%); } /* Literal.Date */
 .m { color: hsl( 29, 54%, 61%); } /* Literal.Number */
 .s { color: hsl( 95, 38%, 62%); } /* Literal.String */
 .na { color: hsl( 29, 54%, 61%); } /* Name.Attribute */
 .nb { color: hsl( 39, 67%, 69%); } /* Name.Builtin */
 .nc { color: hsl( 39, 67%, 69%); } /* Name.Class */
 .no { color: hsl( 39, 67%, 69%); } /* Name.Constant */
 .nd { color: hsl( 39, 67%, 69%); } /* Name.Decorator */
 .ni { color: hsl( 39, 67%, 69%); } /* Name.Entity */
 .ne { color: hsl( 39, 67%, 69%); } /* Name.Exception */
 .nf { color: hsl(220, 14%, 71%); } /* Name.Function */
 .nl { color: hsl( 39, 67%, 69%); } /* Name.Label */
 .nn { color: hsl(220, 14%, 71%); } /* Name.Namespace */
 .nx { color: hsl(220, 14%, 71%); } /* Name.Other */
 .py { color: hsl( 39, 67%, 69%); } /* Name.Property */
 .nt { color: hsl(355, 65%, 65%); } /* Name.Tag */
 .nv { color: hsl( 39, 67%, 69%); } /* Name.Variable */
 .ow { font-weight: bold; } /* Operator.Word */
 .w { color: #f8f8f2 } /* Text.Whitespace */
 .mf { color: hsl( 29, 54%, 61%); } /* Literal.Number.Float */
 .mh { color: hsl( 29, 54%, 61%); } /* Literal.Number.Hex */
 .mi { color: hsl( 29, 54%, 61%); } /* Literal.Number.Integer */
 .mo { color: hsl( 29, 54%, 61%); } /* Literal.Number.Oct */
 .sb { color: hsl( 95, 38%, 62%); } /* Literal.String.Backtick */
 .sc { color: hsl( 95, 38%, 62%); } /* Literal.String.Char */
 .sd { color: hsl( 95, 38%, 62%); } /* Literal.String.Doc */
 .s2 { color: hsl( 95, 38%, 62%); } /* Literal.String.Double */
 .se { color: hsl( 95, 38%, 62%); } /* Literal.String.Escape */
 .sh { color: hsl( 95, 38%, 62%); } /* Literal.String.Heredoc */
 .si { color: hsl( 95, 38%, 62%); } /* Literal.String.Interpol */
 .sx { color: hsl( 95, 38%, 62%); } /* Literal.String.Other */
 .sr { color: hsl(187, 47%, 55%); } /* Literal.String.Regex */
 .s1 { color: hsl( 95, 38%, 62%); } /* Literal.String.Single */
 .ss { color: hsl(187, 47%, 55%); } /* Literal.String.Symbol */
 .bp { color: hsl( 39, 67%, 69%); } /* Name.Builtin.Pseudo */
 .vc { color: hsl( 39, 67%, 69%); } /* Name.Variable.Class */
 .vg { color: hsl( 39, 67%, 69%); } /* Name.Variable.Global */
 .vi { color: hsl(355, 65%, 65%); } /* Name.Variable.Instance */
 .il { color: hsl( 29, 54%, 61%); } /* Literal.Number.Integer.Long */

 .gh { } /* Generic Heading & Diff Header */
 .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
 .gd { color: hsl(0,    70%, 60%); } /* Generic.Deleted & Diff Deleted */
 .gi { color: hsl(150,  60%, 54%); } /* Generic.Inserted & Diff Inserted */
	
 ::selection { background-color: lighten(hsl(220, 13%, 18%), 10%); }

 .language-json {
   .w + .s2 { color: hsl(355, 65%, 65%); }
   .kc { color: hsl(187, 47%, 55%); }
 }

 .language-python {
   // python related modifications
 }

 .language-csharp {
   // csharp related modifications
 }
}