<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body>
        <script id="dsq-count-scr" src="//googie94-github-io.disqus.com/count.js" async></script>
        {% assign current = page.url | downcase | split: '/' %}
        <nav class="nav">
            <div class="nav-container">
                <ul>
                    <li class="transition">
                        <a href="{{ '' | prepend: site.baseurl }}/"
                            {% if current[1] == "project"
                                or current[1] == "tech"
                                or current[1] == "daily"%} class="normal"
                            {% endif %} class="active">Home
                        </a>
                    </li>
                    <li class="transition">
                        <a href="{{ '/project' | prepend: site.baseurl }}"
                            {% if current[1] == "project" %} class="active"
                            {% endif %} >Project
                        </a>
                    </li>
                    <li class="transition">
                        <a href="{{ '/tech' | prepend: site.baseurl }}"
                            {% if current[1] == "tech" %} class="active"
                            {% endif %} >Tech
                        </a>
                    </li>
                    </li>
                    <li class="transition">
                        <a href="{{ '/daily' | prepend: site.baseurl }}"
                            {% if current[1] == "daily" %} class="active"
                            {% endif %} >Daily
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        {% if page.post-header == true %}
            {% include post-header.html %}
        {% endif %}
        {% if page.project-header == true %}
            {% include project-header.html %}
        {% endif %}

        <main>
          {{ content }}
            <!-- {% if page.text == true %}
                {% include share.html %}
            {% endif %} -->
        </main>

        {% include footer.html %}
    </body>
</html>
