---
layout: default
---

<div class="post">
    <div class="post-info">
        <div class="post-type-tag">
            {% if page.draft == true %}
            <div class="catalogue-tag">
                Coming Soon
            </div>
            {% endif %}
            <div class="post-type">
                {{ page.type }}
            </div>
        </div>
        <h1 class="post-title">
            {{ page.title }}
        </h1>
        <h2 class="post-subtitle">
            {{ page.subtitle }}
        </h2>
    </div>

<!--포트폴리오 상단 정보-->

    {% if page.portfolio == true %}
    <article class="portfolio-info">
        {% if page.role-title != nil %}
        <div>
            <span class="info-title">Role</span>
            <p class="info-medium">{{ page.role-title }}</p>
            <p class="info-small">{{ page.role-specific }}</p>
        </div>
        {% endif %}
        {% if page.team != nil %}
        <div>
            <span class="info-title">Team</span>
            <p class="info-medium">{{ page.team }}</p>
        </div>
        {% endif %}
        {% if page.platforms != nil %}
        <div>
            <span class="info-title">Platforms</span>
            <p class="info-medium">{{ page.platforms }}</p>
        </div>
        {% endif %}
        {% if page.date != nil %}
        <div>
            <span class="info-title">Date</span>
            <p class="info-medium">{{ page.date }}</p>
        </div>
        {% endif %}
        {% if page.sentence != nil %}
        <div>
            <p class="info-sentence">{{ page.sentence }}</p>
            <span class="info-source">- {{ page.source }}</span>
        </div>
        {% endif %}
    </article>
    {% endif %}

<!--draft 일 때-->

    {% if page.draft == true %}
        <div class="catalogue-draft-message">
            <h1>
                🧑🏻‍💻 Coming Soon!
            </h1>
            현재 열심히 글을 쓰고 있어요. 조금만 기다려주세요!
        </div>
    {% endif %}

<!--큐레이션 영역-->
    {{ content }}

    {% if page.comments %}
    <div id="post-disqus" class="container" style="margin-top: 100px;">
        {% include disqus.html %}
    </div>
    {% endif %}
</div>